@model IEnumerable<Khun9Room.Models.UnitNumber>


@{
    ViewData["Title"] = "จัดการเลขห้อง";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .containera {
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #808080;
        }

        .containera:hover .overlay {
            opacity: 1;
        }

    </style>

<h4 class="m-2">
    หมายเลขห้องพัก
</h4>
        <div id="allUnit" class="row p1">
            @foreach (var unit in Model)
            {
            <div class="containera card m-2" style="width: 5rem;">
                <div class="overlay">
                    <a onclick=Delete("/User/Room/DeleteUnit/@unit.UnitNumberId") class="text-white" style="cursor:pointer">
                        <i class="fas fa-times-circle p-1"></i>
                    </a>
                </div>
                <img class="card-img-top" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/door_open.png" alt="Card image cap">
                <div class="card-body">
                    @unit.UnitNo
                </div>
            </div>
            }
        </div>


@section Scripts{ 
<script>
    function Delete(url) {
        swal({
            title: "ยืนยันการลบ",
            text: "หากลบเเล้วข้อมูลจะทำการกู้คืนไม่ได้",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            $("#allUnit").load(" #allUnit");  
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>

}