
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-6">
        <h2 class="text-primary">รายชื่อสถานที่ </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary text-white" asp-action="add"><i class="fas fa-plus"></i> &nbsp; เพิ่มสถานที่</a>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    <table id="tblData" class="table table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>ชื่อสถานที่</th>
                <th>จังหวัด</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


<input type="checkbox" name="checkbox-1" id="checkbox-1" />
<input type="checkbox" name="checkbox-2" id="checkbox-2" />
<input type="checkbox" name="checkbox-3" id="checkbox-3" />

<!-- select all boxes -->
<input type="checkbox" name="select-all" id="select-all" />

@section Scripts{

    <script src="~/js/Property.js"></script>
<script>
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
</script>

}
